@trainer
	@@target
		@@templates
			vis=0
			## tmpls
				### irange(1,10)
				count=__name__
			##
		## tracked
		@@@ tracked
			iou_det_state=0.1
		##
			tracker=siamese
			@@siamese
				variant=siamx
				conf_thresh=0.75
				## op
					### 0,1,2,3,01,012,12,03,013,0123
					feat_ops='__name__'
				## nms
					### 0,1,2
					nms_method=__name__
					### 0
					conf_thresh=0.7
					### 1
					conf_thresh=0.5
				## dist
					### 0,3,5,8
					nms_dist=__name__
				## ratio
					## 0,10,25
					nms_dist_ratio=0.__name__
				## f
					### 0,1,2
					feature_type=__name__
				## fs
					### 2,3,4
					feature_scale=__name__
				## nf
					### 6,12
					n_features=__name__
				##
				@@siamx				
					## fc,fc_vgg,fc_res,fc_incp,fc_nxt,rpn_vgg,rpn_nxt,rpnpp,rpnpp_res
					model=__name__		
					@@rpn
						## rpnpp,rpnpp_res
						lr=0.295
						score_size=25
						##
					@@@			



